In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.concat([pd.DataFrame(np.random.rand(100,7))]*2)

In [3]:
df.tail()

           0         1         2         3         4         5         6
95  0.028652  0.375305  0.267273  0.602147  0.634434  0.043624  0.258143
96  0.361953  0.165949  0.728568  0.363547  0.176730  0.012436  0.489677
97  0.167867  0.206373  0.506059  0.849707  0.937905  0.552417  0.021470
98  0.165049  0.578001  0.767987  0.485220  0.739521  0.878092  0.293770
99  0.831572  0.420874  0.427488  0.497179  0.811956  0.729778  0.179257

In [4]:
df.loc[0]

         0         1         2         3         4         5       6
0  0.33599  0.003078  0.903695  0.031349  0.869853  0.070302  0.5789
0  0.33599  0.003078  0.903695  0.031349  0.869853  0.070302  0.5789

In [5]:
df.loc[11] = range(7)

ValueError: cannot set using a list-like indexer with a different length than the value

In [6]:
df.loc[11]

           0         1         2         3         4         5        6
11  0.421103  0.718717  0.580586  0.573353  0.844456  0.225243  0.88247
11  0.421103  0.718717  0.580586  0.573353  0.844456  0.225243  0.88247

In [7]:
df.loc[101]

KeyError: 'the label [101] is not in the [index]'

In [8]:
df.loc[101] = range(7)

In [9]:
df.tail()

            0         1         2         3         4         5         6
96   0.361953  0.165949  0.728568  0.363547  0.176730  0.012436  0.489677
97   0.167867  0.206373  0.506059  0.849707  0.937905  0.552417  0.021470
98   0.165049  0.578001  0.767987  0.485220  0.739521  0.878092  0.293770
99   0.831572  0.420874  0.427488  0.497179  0.811956  0.729778  0.179257
101  0.000000  1.000000  2.000000  3.000000  4.000000  5.000000  6.000000

In [10]:
a = np.zeros(shape=(5,4))

In [11]:
a

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [12]:
a[4]

array([0., 0., 0., 0.])

In [13]:
a[5] = [1,2,3,4]

IndexError: index 5 is out of bounds for axis 0 with size 5

In [14]:
%timeit -n 1 -r 1 df.loc[11]

1 loop, best of 1: 571 µs per loop

In [15]:
%timeit -n 1 -r 1 df.loc[101]

1 loop, best of 1: 269 µs per loop

In [16]:
ddf = df.reset_index()

In [17]:
ddf.tail()

,index,0,1,2,3,4,5,6
196,96,0.361953,0.165949,0.728568,0.363547,0.176730,0.012436,0.489677
197,97,0.167867,0.206373,0.506059,0.849707,0.937905,0.552417,0.021470
198,98,0.165049,0.578001,0.767987,0.485220,0.739521,0.878092,0.293770
199,99,0.831572,0.420874,0.427488,0.497179,0.811956,0.729778,0.179257
200,101,0.000000,1.000000,2.000000,3.000000,4.000000,5.000000,6.000000

In [18]:
ddf.index.is_unique

True

In [19]:
%timeit -n 1 -r 1 df.loc[11]

1 loop, best of 1: 518 µs per loop

In [20]:
%timeit -n 1 -r 1 ddf.loc[11]

1 loop, best of 1: 4.15 ms per loop

In [21]:
%timeit -n 1 -r 1 df.loc[101]

1 loop, best of 1: 465 µs per loop

In [22]:
%timeit -n 1 -r 1 ddf.loc[101]

1 loop, best of 1: 359 µs per loop

In [23]:
%timeit -n 1 -r 1 df.loc[[11]]

1 loop, best of 1: 2.04 ms per loop

In [24]:
%timeit -n 1 -r 1 ddf.loc[[11]]

1 loop, best of 1: 2.48 ms per loop