In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.random((9, 5)),
                  index=pd.MultiIndex.from_product([(1, 2, 3), (4, 5, 6)]))

## Ambiguous indexing

In [3]:
df

            0         1         2         3         4
1 4  0.515475  0.098428  0.996290  0.592944  0.909612
  5  0.381871  0.695997  0.193777  0.505768  0.265996
  6  0.414010  0.516641  0.918541  0.108634  0.481212
2 4  0.917311  0.555556  0.844101  0.642774  0.294767
  5  0.230593  0.151229  0.281512  0.792697  0.456896
  6  0.354455  0.259955  0.379995  0.571561  0.533518
3 4  0.252082  0.988385  0.584813  0.643749  0.388856
  5  0.917416  0.600509  0.587259  0.304810  0.488233
  6  0.972643  0.270921  0.240601  0.409484  0.436605

In [4]:
df.loc[1, 4]

0    0.515475
1    0.098428
2    0.996290
3    0.592944
4    0.909612
Name: (1, 4), dtype: float64

In [5]:
df.loc[(1, 4), :]

0    0.515475
1    0.098428
2    0.996290
3    0.592944
4    0.909612
Name: (1, 4), dtype: float64

In [6]:
df.loc[(1, ), 4]

4    0.909612
5    0.265996
6    0.481212
Name: 4, dtype: float64

## Lists are not tuples

In [7]:
df.loc[(1, 6), 4]

0.4812122786236285

In [8]:
df.loc[[1, 6], 4]

1  4    0.909612
   5    0.265996
   6    0.481212
Name: 4, dtype: float64