# Concatenate

In [1]:
import pandas as pd

In [2]:
s = pd.DataFrame(-1, index=range(2), columns=range(1000))

In [3]:
s.dtypes

0      int64
1      int64
2      int64
3      int64
4      int64
5      int64
6      int64
7      int64
8      int64
9      int64
10     int64
11     int64
12     int64
13     int64
14     int64
15     int64
16     int64
17     int64
18     int64
19     int64
20     int64
21     int64
22     int64
23     int64
24     int64
25     int64
26     int64
27     int64
28     int64
29     int64
       ...
970    int64
971    int64
972    int64
973    int64
974    int64
975    int64
976    int64
977    int64
978    int64
979    int64
980    int64
981    int64
982    int64
983    int64
984    int64
985    int64
986    int64
987    int64
988    int64
989    int64
990    int64
991    int64
992    int64
993    int64
994    int64
995    int64
996    int64
997    int64
998    int64
999    int64
Length: 1000, dtype: object

In [4]:
def is_even(i):
    return i % 2 == 0

In [5]:
def fill_series1(s):
    mys = s.copy()
    for i in s.columns:
        mys.loc[0, i] = mys.loc[0, i] + is_even(i)
    return mys

In [6]:
def fill_series2(s):
    mys = s.copy()
    for i in s.columns:
        mys.loc[0, i] = is_even(i)
    return mys

In [7]:
%timeit fill_series1(s)

1 loop, best of 3: 259 ms per loop

In [8]:
%timeit fill_series2(s)

1 loop, best of 3: 860 ms per loop

In [9]:
fill_series2(s)

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,True,False,True,False,True,False,True,False,True,False,...,True,False,True,False,True,False,True,False,True,False
1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [10]:
fill_series2(s).dtypes

0      object
1      object
2      object
3      object
4      object
5      object
6      object
7      object
8      object
9      object
10     object
11     object
12     object
13     object
14     object
15     object
16     object
17     object
18     object
19     object
20     object
21     object
22     object
23     object
24     object
25     object
26     object
27     object
28     object
29     object
        ...
970    object
971    object
972    object
973    object
974    object
975    object
976    object
977    object
978    object
979    object
980    object
981    object
982    object
983    object
984    object
985    object
986    object
987    object
988    object
989    object
990    object
991    object
992    object
993    object
994    object
995    object
996    object
997    object
998    object
999    object
Length: 1000, dtype: object